/**
 * Moniwiki specific less file by wkpark@gmail.com
 *
 * @since 1.2.5p1
 * @since 2016/01/06
 *
 * copy moniwiki.less into bootstrap/less/
 */
/**
 * Moniwiki specific less file by wkpark@gmail.com
 *
 * @since 1.2.5p1
 * @since 2016/01/06
 *
 * copy external.less into bootstrap/less/
 */
.imgLeft {
  clear: right;
  float: left;
  margin-bottom: 5px;
  margin-right: 15px;
}
.imgRight {
  clear: left;
  float: right;
  margin-bottom: 5px;
  margin-left: 10px;
}
.imgCenter {
  margin-left: auto;
  margin-right: auto;
}
.imgContainer.imgCenter,
.imgAttach.imgCenter,
.externalImage.imgCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.imgContainer {
  margin: 10px 0;
}
.imgContainer div.imgAttach {
  border: 1px solid silver;
  display: inline-block;
  padding: 2px;
}
.imgAttach {
  max-height: 100%;
  max-width: 100%;
}
.imgAttach .caption {
  font-size: inherit;
  padding: 3px;
  text-align: center;
}
.imgAttach div span {
  display: none;
}
.imgAttach div div span {
  color: #ffffff;
  font-size: 0.7rem;
}
.imgAttach div:hover div span {
  display: inline;
}
.imgAttach img {
  max-width: 100%;
}
.externalImage {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
}
.externalImage img {
  max-width: 100%;
}
.externalImage div div a span {
  color: #ffffff;
  font-size: 0.7rem;
}
.externalImage div:hover div a span {
  display: inline;
}
.externalImage div div.info {
  background: rgba(40, 40, 40, 0.59);
  bottom: 0;
  color: #ffffff;
  display: none;
  margin: 0 2px 2px 2px;
  overflow-x: hidden;
  padding: 0 5px;
  position: absolute;
}
.externalImage div div.wrapper {
  background: none;
  position: inherit;
}
.externalImage > div,
.imgAttach > div {
  display: table;
  position: relative;
  z-index: 10;
}
.externalImage > div a,
.imgAttach > div a {
  color: #2c4c88 !important;
}
.imgContainer.imgCenter > div,
.imgAttach.imgCenter > div,
.externalImage.imgCenter > div {
  display: block;
}
.imgAttach {
  display: inline-block;
}
.imgAttach div div.info {
  background: rgba(40, 40, 40, 0.59);
  bottom: 0;
  color: #ffffff;
  display: none;
  margin: 0 2px 2px 2px;
  overflow-x: hidden;
  padding: 0 5px;
  position: absolute;
}
.imgAttach div div.wrapper {
  background: none;
  position: inherit;
}
@media screen and (max-width: 767px) {
  .imgContainer.imgCenter,
  .imgAttach.imgCenter,
  .externalImage.imgCenter {
    display: inline-block;
  }
  .imgAttach {
    display: block;
  }
  .imgAttach div {
    display: table;
    margin: 0 auto;
  }
  .imgAttach div div {
    display: table;
  }
  .imgAttach div div.info {
    display: block;
  }
  .externalImage {
    display: block;
  }
  .externalImage div {
    display: table;
    margin: 0 auto;
  }
  .externalImage div div {
    display: table;
  }
  .externalImage div div a {
    display: block;
  }
  .externalImage div div a span {
    display: inline;
  }
  .externalImage div div.info {
    display: block;
  }
  .externalImage div div.info a {
    display: inline;
  }
  .externalImage a {
    display: inline;
    text-align: center;
  }
  .imgContainer.imgCenter > div,
  .imgAttach.imgCenter > div,
  .externalImage.imgCenter > div {
    display: table;
  }
  a.externalLink img {
    display: inline;
  }
}
/* diff */
div.diff-added,
tr.diff-added {
  background-color: #eaffea;
}
div.diff-removed,
tr.diff-removed {
  background-color: #ffdddd;
}
del.diff-removed {
  color: #999999;
  background-color: #ffffff;
  text-decoration: line-through;
  border-radius: 0.2em;
}
ins.diff-added {
  background-color: #a6f3a6;
  text-decoration: none;
  border-radius: 0.2em;
  color: #333333;
}
.simpleDiff,
.fancyDiff {
  border: 1px solid #dddddd;
  border-radius: 2px;
}
.fancyDiffInline del.diff-removed {
  color: #000000;
  background-color: #ffb0b0;
  text-decoration: none;
}
.fancyDiffInline ins.diff-added {
  color: #000000;
  background-color: #8eff8e;
  text-decoration: none;
}
.diff-sep {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 14px;
  padding: 5px 10px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #dddddd;
  color: #333333;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.diff-highlight {
  padding: 0 10px;
}
/* diffstat */
span.diff-added {
  background-color: #1CE617;
}
span.diff-removed {
  background-color: #FF0000;
}
span.diff-added {
  text-shadow: 1px 1px 2px #fff;
  background-image: linear-gradient(#1ce617, #16dc16);
  border-radius: 2px;
  margin-right: 2px;
  height: 18px;
  white-space: nowrap;
}
span.diff-removed {
  color: yellow;
  text-shadow: 1px 1px 2px #ff8080;
  background-image: linear-gradient(#ff0000, #c00000);
  border-radius: 2px;
  height: 18px;
  white-space: nowrap;
}
/* fixup navbar style */
.navbar ul > li > a {
  font-size: 15px;
  font-weight: bold;
}
#wikiBody {
  padding-top: 1.5em;
}
#wikiBody a.externalLink {
  color: #489a48;
  text-decoration: underline;
}
#wikiBody a.nonexistent {
  color: #7B2B2B;
}
#wikiBody del {
  color: #999999;
}
#wikiBody del a:link {
  color: #5F90D0;
}
#wikiBody del a:visited {
  color: #5F90D0;
}
#wikiBody del a.nonexistent {
  color: #cc6161;
}
#wikiBody del a.externalLink {
  color: #809880;
}
#wikiFooter {
  padding-top: 1em;
  padding-bottom: 50px;
  margin-top: 3em;
  color: #656565;
  border-top: 1px solid #dddddd;
}
#wikiIcon a {
  display: inline-block;
  border: 1px solid #cccccc;
  margin-left: -1px;
  font-size: 16px;
  text-decoration: none;
  color: #333333;
  height: 30px;
  min-width: 30px;
  text-align: center;
}
#wikiAction {
  padding-top: 2em;
}
#wikiAction ul li {
  padding: 4px 10px;
}
#wikiAction a {
  color: #333333;
}
/* editor */
#editor_info ul {
  padding: 0;
  margin-left: 0;
}
#editor_info ul > li {
  padding: 3px 0;
  margin-left: 0;
  margin-right: 0;
  list-style: none;
}
#edit-summary input {
  border: 1px solid #cccccc;
  padding: 5px 0 5px 7px;
  font-size: 14px;
  box-sizing: border-box;
  width: 100%;
}
#edit-summary input:focus {
  outline: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px rgba(81, 167, 232, 0.5);
  border: 1px solid #cccccc;
}
.separator hr {
  height: 1px;
  color: #ccc;
  border: 0px solid;
  background-color: #cccccc;
}
/* tables */
table.info,
table.wiki {
  /* from .table-border */
}
table.info > thead > tr > th,
table.wiki > thead > tr > th,
table.info > tbody > tr > th,
table.wiki > tbody > tr > th,
table.info > tfoot > tr > th,
table.wiki > tfoot > tr > th,
table.info > thead > tr > td,
table.wiki > thead > tr > td,
table.info > tbody > tr > td,
table.wiki > tbody > tr > td,
table.info > tfoot > tr > td,
table.wiki > tfoot > tr > td {
  border: 1px solid #dddddd;
}
table.info > thead > tr > th,
table.wiki > thead > tr > th,
table.info > thead > tr > td,
table.wiki > thead > tr > td {
  border-bottom-width: 2px;
}
table.info tr > th,
table.wiki tr > th {
  text-align: center;
  padding: 4px;
}
table.info tr > td,
table.wiki tr > td {
  padding: 4px;
}
/* table */
table.wiki {
  background-color: #fefffc;
  /* #F8F7F0 */
  overflow: auto;
  overflow-x: auto;
  overflow-y: hidden;
}
table.wiki td.center {
  text-align: center;
}
table.wiki td.right {
  text-align: right;
}
table.center {
  margin-left: auto;
  margin-right: auto;
}
table.center td {
  padding: 4px;
}
table.center td.center {
  text-align: center;
}
table.center td.right {
  text-align: right;
}
table.right {
  float: right;
  margin-left: auto;
  margin-right: auto;
}
table.right td {
  padding: 4px;
}
table.right td.center {
  text-align: center;
}
table.right td.right {
  text-align: right;
}
/* messages */
div.message {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}
div.message h4 {
  margin-top: 0;
  color: inherit;
}
div.message .alert-link {
  font-weight: bold;
}
div.message > p,
div.message > ul {
  margin-bottom: 0;
}
div.message > p + p {
  margin-top: 5px;
}
div.message hr {
  border-top-color: #a6e1ec;
}
div.message .alert-link {
  color: #245269;
}
div.message > span h3 {
  font-size: 14px !important;
  margin: 0;
}
/* buttons */
table.info button,
input.save-button,
input.button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 13px;
  padding: 3px 6px;
}
table.info button:hover,
input.save-button:hover,
input.button:hover,
table.info button:focus,
input.save-button:focus,
input.button:focus,
table.info button.focus,
input.save-button.focus,
input.button.focus {
  color: #333333;
  text-decoration: none;
}
table.info button:active,
input.save-button:active,
input.button:active,
table.info button.active,
input.save-button.active,
input.button.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
table.info button.disabled,
input.save-button.disabled,
input.button.disabled,
table.info button[disabled],
input.save-button[disabled],
input.button[disabled],
fieldset[disabled] table.info button,
fieldset[disabled] input.save-button,
fieldset[disabled] input.button {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
table.info button,
input.button {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}
table.info button:focus,
input.button:focus,
table.info button.focus,
input.button.focus {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
table.info button:hover,
input.button:hover {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
table.info button:active,
input.button:active,
table.info button.active,
input.button.active,
.open > .dropdown-toggletable.info button,
.open > .dropdown-toggleinput.button {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
table.info button:active,
input.button:active,
table.info button.active,
input.button.active,
.open > .dropdown-toggletable.info button,
.open > .dropdown-toggleinput.button {
  background-image: none;
}
table.info button .badge,
input.button .badge {
  color: #ffffff;
  background-color: #333333;
}
input.save-button {
  color: #ffffff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
input.save-button:focus,
input.save-button.focus {
  color: #ffffff;
  background-color: #286090;
  border-color: #122b40;
}
input.save-button:hover {
  color: #ffffff;
  background-color: #286090;
  border-color: #204d74;
}
input.save-button:active,
input.save-button.active,
.open > .dropdown-toggleinput.save-button {
  color: #ffffff;
  background-color: #286090;
  border-color: #204d74;
}
input.save-button:active,
input.save-button.active,
.open > .dropdown-toggleinput.save-button {
  background-image: none;
}
input.save-button .badge {
  color: #337ab7;
  background-color: #ffffff;
}
a.button,
a.button-small {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}
a.button:hover,
a.button-small:hover,
a.button:focus,
a.button-small:focus,
a.button.focus,
a.button-small.focus {
  color: #333333;
  text-decoration: none;
}
a.button:active,
a.button-small:active,
a.button.active,
a.button-small.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
a.button.disabled,
a.button-small.disabled,
a.button[disabled],
a.button-small[disabled],
fieldset[disabled] a.button,
fieldset[disabled] a.button-small {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
a.button:focus,
a.button-small:focus,
a.button.focus,
a.button-small.focus {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
a.button:hover,
a.button-small:hover {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
a.button:active,
a.button-small:active,
a.button.active,
a.button-small.active,
.open > .dropdown-togglea.button,
.open > .dropdown-togglea.button-small {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
a.button:active,
a.button-small:active,
a.button.active,
a.button-small.active,
.open > .dropdown-togglea.button,
.open > .dropdown-togglea.button-small {
  background-image: none;
}
a.button .badge,
a.button-small .badge {
  color: #ffffff;
  background-color: #333333;
}
a.button-small {
  padding: 3px 6px;
  font-size: 11px;
}
a.button {
  font-size: 13px;
  padding: 3px 6px;
}
blockquote.quote {
  margin: 0.5em 1.8em;
  padding: 0.7em 0.8em;
  line-height: 1.45;
  position: relative;
  border-left: 4px solid #A4BCCC;
  font-size: inherit;
  background-color: #f8f8f8;
}
blockquote.quote:before {
  font-family: Helvetica, Arial, sans-serif;
  position: absolute;
  content: "\201C";
  font-size: 6.3em;
  color: #879EAD;
  margin: -36px 20px 0 -50px;
}
/* sectionEdit */
.sectionEdit {
  margin-top: 4px;
}
.sectionEdit span {
  font-size: 12px;
  top: 10px;
}
.sectionEdit span a {
  border-radius: 4px;
  border: 1px solid #cccccc;
  padding: 3px 5px 3px 5px;
}
.sectionEdit a {
  text-decoration: none;
}
.sectionEdit span.sep {
  display: none;
}
.recentChanges table {
  border: 1px solid #dddddd;
}
.recentChanges {
  overflow-x: auto;
  clear: both;
}
.recentChanges td {
  padding: 0.5em;
  border-top: 1px solid #eff0ed;
}
.recentChanges td.author {
  width: 8%;
  text-align: center;
}
.recentChanges td.date {
  width: 150px;
  white-space: nowrap;
}
.recentChanges td.change {
  width: 20%;
  text-align: center;
}
.recentChanges td.check {
  width: 20%;
}
.recentChanges th {
  padding: 0.5em;
  background-image: linear-gradient(#fafafa, #f5f5f5);
}
.recentChanges th.rev {
  width: 10%;
  text-align: center;
}
.recentChanges.hits,
.recentChanges td.editinfo {
  text-align: right;
}
.recentChanges.user,
.recentChanges td.editinfo {
  font-family: Trebuchet MS, Tahoma, Lucida, sans-serif;
}
.recentChanges tr.alt {
  background-color: #fbfbfb;
}
.last-modified {
  font-size: 12px;
}
.last-modified a {
  color: inherit;
}
a.perma {
  color: #A7A7A7;
  text-decoration: none;
}
code {
  color: inherit;
  background-color: #f5f2f4;
}
#wikiBody h1 {
  font-size: 2.0rem;
}
#wikiBody h2 {
  font-size: 1.75rem;
}
#wikiBody h3 {
  font-size: 1.6rem;
}
#wikiBody h4 {
  font-size: 1.4rem;
}
#wikiBody h5 {
  font-size: 1.2rem;
}
#wikiBody h6 {
  font-size: 1.0rem;
}
#wikiBody h1,
#wikiBody h2,
#wikiBody h3,
#wikiBody h4,
#wikiBody h5 {
  font-weight: bold;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid #eeeeee;
  /* */
}
#wikiBody h6 {
  font-weight: bold;
}
#wikiBody ol,
#wikiBody ul {
  margin: 0.5rem 0;
  padding-left: 2em;
}
#wikiBody ul > li ol,
#wikiBody ul > li ul {
  margin-top: 0;
}
.wikiTitle a {
  color: #333333;
}
#wikiPreview,
#wikiDiffPreview {
  border: 1px solid #dddddd;
  margin: 5px 5px 5px 5px;
  padding: 5px 1em 5px 1em;
}
/* wiki category */
#wikiBody .wikiCategory {
  border: 1px solid #dddddd;
  padding: 0.4rem;
  margin-top: 1.5em;
}
#wikiBody .wikiCategory h2 {
  display: inline-block;
  border: 0;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: inherit;
}
#wikiBody .wikiCategory h2:after {
  content: ':';
}
#wikiBody .wikiCategory ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}
#wikiBody .wikiCategory li {
  display: inline;
  list-style: none;
  padding-left: 0.25em;
  border-left: 1px solid #dddddd;
}
#wikiBody .wikiCategory li:first-child {
  padding-left: 0.25em;
  border-left: none;
}
.rssChanges h3 {
  font-size: 1.4em;
}
.rssChanges h3 a {
  color: #333333;
}
.rssChanges ul {
  list-style: none;
  border-top: 1px solid #dddddd;
  padding-left: 0;
}
.rssChanges ul li {
  margin-left: 0;
  border-bottom: 1px solid #dddddd;
  padding: 5px;
}
.rssChanges ul li a {
  display: block;
  color: #333333;
}
.rssChanges ul li .date {
  float: right;
}
.rssChanges ul li a span {
  display: block;
  width: 78%;
  text-overflow: ellipsis;
  overflow: hidden;
}
.rssChanges p.more {
  float: right;
  display: inline;
}
.rssChanges p.more a {
  color: #cccccc;
}
.switch-pc-mobile {
  width: 100%;
  text-align: center;
  font-weight: bold;
}
a.switch-to-mobile {
  font-size: 20px;
  padding: 10px 0;
  text-decoration: none;
  display: inline-block;
}
a.switch-to-pc {
  font-size: 20px;
  padding: 12px 0;
  text-decoration: none;
  display: inline-block;
}
.switch-pc-mobile {
  background: #222;
}
a.switch-to-mobile {
  color: #eaeaea;
}
a.switch-to-mobile:hover {
  color: #eaeaea;
}
a.switch-to-pc {
  color: #eaeaea;
}
a.switch-to-pc:hover {
  color: #eaeaea;
}
